<div>
  <h1>Agregado de Nombres</h1>

  <form [formGroup]="form" (ngSubmit)="AnadidoNombre()">
    <div>
      <label for="nombre" class="aaa6" >
      Introduzca un Nombre:
      </label>
      <input type="text" id="nombre" formControlName="nombre" class="aaa5">
      <button [disabled]="form.invalid" class="aaa4">
        Adicionar Nombres
      </button>


    </div>
  </form>

  <form [formGroup]="form2">
    <div >

      <select  formControlName="nombres" class="aaa1">
        <option [selected]="seleccione" [disabled]="true">Seleccionar...</option>
        <option *ngFor="let nombre of GrupoNombres; let id = index" value={{id}}>{{ nombre | uppercase }}</option>


      </select>

      <button  (click)="ImprimirNombres()" class="aaa3" >
      Agregar nombre
      </button>
    </div>

    <div>
      <textarea  placeholder="Lista de nombres" id="mostrar-nombres" style="height: 100px"
        formControlName="Nombres" value="{{ AgregarNombres }}" class="aaa2"></textarea>
    </div>

  </form>
</div>