.aaa1{
  margin-left: 195px;
  margin-top: 20px;
  background-color: red;
  color: black;
  font-size: 20px;
}
.aaa2{
  margin-left: 195px;
  margin-top: 20px;
  background-color: rgb(255, 230, 0);
  color: black;
  font-size: 20px;
}

.aaa3{
  background-color: green;
  font-size: 20px;
}

.aaa4{
  background-color: aqua;
  font-size: 20px;
}

.aaa5{
  background-color: rgb(0, 255, 115);
  font-size: 20px;
}

.aaa6{
  font-size: 20px;
}